.level {
  clear: both;
  width: 400px;
  margin-top: 4px; }

.square {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  width: 20px;
  height: 20px;
  background-color: #000;
  border: 1px solid #444;
  margin: 0; }
