.about-btn {
  display: block;
  float: left;
  background-color: #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 24%;
  height: 60px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1.5px solid #aaa;
  margin: 30px 4.66666% 4px;
  text-align: center;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out; }
  .about-btn p {
    color: #222;
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 12px; }
  .about-btn img {
    width: 80%;
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .about-btn:hover {
    background-color: #10ce9f;
    color: #444; }

/* resolution breakpoints */
/* 1010px breakpoint*/
@media only screen and (max-width: 1010px) {
  .about-btn {
    width: 30%;
    margin: 30px 1.5% 4px; }
    .about-btn p {
      margin-top: 14px;
      font-size: 1.2em; } }

/* 700px breakpoint*/
@media only screen and (max-width: 700px) {
  .about-btn p {
    margin-top: 16px;
    font-size: 1em; } }

/* 540px breakpoint*/
@media only screen and (max-width: 540px) {
  .about-btn {
    display: block;
    float: none;
    width: 70%;
    margin: 30px auto 4px; }
    .about-btn img {
      max-height: 80%;
      width: auto;
      max-width: 80%; }
    .about-btn p {
      margin-top: 10px;
      font-size: 1.45em; } }

/* 320px breakpoint*/
@media only screen and (max-width: 320px) {
  .about-btn {
    width: 80%; }
    .about-btn p {
      margin-top: 12px;
      font-size: 1.3em; } }
