<h2>New Product</h2>
<div class="well well-light">
  <div class="alert alert-warning" role="alert" ng-show="warnings" ng-repeat="warning in warnings">{{ warning }}</div>
  <form>
    <div class="form-group">
      <label for="productID">Product ID:</label>
      <input type="text" name="productID" id="productID" ng-model="productID" class="form-control">
    </div>
    <div class="form-group">
      <label for="name">Product name:</label>
      <input type="text" name="name" id="name" ng-model="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="stock">stock</label>
      <input type="number" name="stock" id="stock" min="0" value="1" ng-model="stock">
    </div>


    <button type="submit" class="btn btn-success" ng-click="addProduct()">Add New Product</button>
  </form>
</div>
<a href="javascript:history.back()" class="btn btn-primary">Back</a>
